$color-gold: #B35316;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import "~bootstrap/scss/bootstrap";

html, body, .App {
  padding:0;
  margin:0;
  box-sizing: border-box;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// LandingPage

#LandingPage {
  color: white;
  background: url('./assets/img/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .master-row {
    min-height: 100vh;
    padding-top: 6rem;
    .col-md-6 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 1.5;
    }
    p {
      font-size: 2rem;
      font-weight: 500;
    }
    }
  }

}

 
#logo {
  position:absolute;
  left: 2.5rem;
  top: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  z-index: 1;
}

#footer {
  z-index: 1;
}


@media only screen and (min-width: 1200px){
  #master-row {
    padding-top: 0;
  }
  #footer {
    position:fixed;
    bottom: 0;
  }
}







